@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

nav a.router-link-exact-active {
  color: var(--color-main);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(100, 149, 237, 0.2);
  }
}

.chart {
  margin: 1rem 0;
  resize: both;
  overflow: auto;
  min-width: 320px;
  min-height: 440px;
  max-width: 1200px;
  max-height: 500px;
}
